<!Doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <meta name="viewport" content="width=content-width, initial-scale=1.0"/>
        <title>add new Employee</title>
        <link rel="icon" type="image/x-icon" href="/img/db_icon.png"/>
        <link rel="stylesheet" type="text/css" href="/css/aside_menu.css"/>
        <link rel="stylesheet" type="text/css" href="/css/top_menu.css"/>
    </head>
    <body>
        <div th:replace="~{layouts/notSigndedIn/header :: header}">header</div>
        <aside th:replace="~{layouts/notSigndedIn/aside_menu :: aside_menu}">aside_menu</aside>

        <div class="container">
            <form action="/workspace/employee/new" method="post" accept-charset="UTF-8">
                <label for="iin">IIN</label>
                <input type="text" id="iin" name="iin" placeholder="Employee iin"/>
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="first_name" placeholder="Employee name"/>
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="last_name" placeholder="Employee last name"/>
                <label for=surname>Surname</label>
                <input type="text" id="surname" name="surname" placeholder="Employee surname"/>
                <label for="birthday">Birthday</label>
                <input type="date" id="birthday" name="birthday" placeholder="pattern"/>
                <label for="phone_num">Phone number</label>
                <input type="text" id="phone_num" name="phone_num" placeholder="pattern +7xxxxxxxxxx">
                <label for="department">Department</label>
                <input type="text" id="department" name="department" placeholder="Employee department">
                <label for="salary">Salary</label>
                <input type="text" id="salary" name="salary" placeholder="Employee salary">
                <label for="recruitment_date">Recruitment date</label>
                <input type="date" id="recruitment_date" name="recruitment_date" placeholder="pattern">
                <input type="submit" value="submit">
            </form>
        </div>

    </body>
</html>