<!Doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <meta name="viewport" content="width=device-width initial-scale=1.0"/>
        <title>HR Workspace</title>
        <link rel="stylesheet" type="text/css" href="/css/aside_menu.css"/>
        <link rel="stylesheet" type="text/css" href="/css/top_menu.css"/>
        <link rel="icon" type="image/x-icon" href="/img/db_icon.png"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/css/all_employees_list.css"/>
    </head>
    <body>
        <div th:replace="~{layouts/signedIn/header :: header}">header</div>
        <div th:replace="~{layouts/signedIn/aside_menu :: aside}">aside</div>
        <div th:replace="~{layouts/footer :: footer}">footer</div>
        <section class="all_emp_list">
            <table class="all_emp_table">
                <tr>
                    <th>IIN</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Surname</th>
                    <th>Department</th>
                    <th colspan="4" style="text-align: center">Profile</th>
                </tr>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.getIin()}">iin</td>
                        <td th:text="${employee.getFirstName()}">first name</td>
                        <td th:text="${employee.getLastName()}">last name</td>
                        <td th:text="${employee.getSurname()}">surname</td>
                        <td th:text="${employee.getDepartment()}">department</td>
                        <td><a th:href="@{/workspace/employee/{id}(id=${employee.getId()})}">
                            <img src="/img/profile_icon.png" style="width: 20px; height: 20px" alt="profile icon"
                            title="profile"/></a>
                        </td>
                        <td><a th:href="@{/workspace/employee/{id}/edit (id=${employee.getId()})}">
                            <img src="/img/edit_icon.png" style="height: 20px; width: 20px" alt="edit icon"
                                 title="edit"/></a>
                        </td>
                        <td><form th:action="@{/workspace/employee/delete/{id} (id=${employee.getId()})}" th:method="delete">
                            <input id="emp_del_button" th:type="submit" th:value="X">
                            </input>
                        </form></td>
                    </tr>
            </table>
        </section>
    </body>
    </html>