<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <meta name="viewport" content="width=device-width initial-scale=1.0"/>
        <title>HR Workspace</title>
        <link rel="stylesheet" type="text/css" href="/css/aside_menu.css"/>
        <link rel="stylesheet" type="text/css" href="/css/top_menu.css"/>
        <link rel="icon" type="image/x-icon" href="/img/db_icon.png"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    </head>
    <body>
        <div th:replace="~{layouts/signedIn/header :: header}">header</div>
        <div th:replace="~{layouts/signedIn/aside_menu :: aside}">aside</div>
        <div th:replace="~{layouts/footer :: footer}">footer</div>
    </body>
</html>