<!Doctype html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <meta name="viewport" content="width=content-width, initial-scale=1.0"/>
        <title>Все сотрудники</title>
    </head>
    <body>

    <div th:each="employee : ${employees}">
        <a th:href="@{/employees/{id}(id=${employee.getId()})}" th:text="${employee.getName()}">employee</a>
    </div>
    <div th:each="employee : ${employees}">
        <a th:href="@/employees/{id}(id=${employee.getId()})" th:text="${employee.getName()}">Name</a>
    </div>

    </body>
</html>