<!Doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
</head>
    <body>
            <div class = top_menu_links th:fragment="header">
                <!--Need to add code -->
                <a class="menu_link" href="" methods="get" target="_self"></a>
                <a class="top_links" href="/" methods="get" target="_self">HR Database</a>
                <a class="top_links" href="/info" methods="get" target="_blank">About</a>
                <!--Need to add code -->
                <a class="sign_in_top" href="" methods="get" target="_self">Log in</a>
            </div>
    </body>
</html>
