.emp_info {
    width: 600px;
    height: 600px;
}

td {

}

th, td {
padding: 10px 20px 0px 0px;
}

th {

}

.emp_info_block {
    width: 500px;
    float: left;
    position: relative;
    top: 50px;
    left: 50px;
}

@media (max-width: 900px) {
    .emp_info, .emp_info {
        width: 100%;
        height: 697px;
    }
}


@media (max-width: 900px) {
    aside, section, .emp_info_block{
        width: 100%;
        height: 697px;
    }
}

#emp_img {
    height: 150px;
    width: 150px;
    position: relative;
    top: -577px;
    left: 300px;
}