.container{
    position: fixed;
    top: 50px;
    left: 200px;
}
.row {
    padding: 10px;
}

label {

}

.submit {
    border: 2px solid rgb(0 17 48 / 0%);
    top: 360px;
    left: 480px;
    padding: 2px 5px 2px 5px;
    background-color: rgba(0,17,48,0.51);
    color: black;
    border-radius: 3px;
}

input {
    position: fixed;
    left: 356px;
    border: none;
    border-bottom: 1px solid green;
}