.top_menu_links {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    background-color: rgba(22,22,47,0.76);
    text-decoration: none;
    letter-spacing: 1px;
}

a.top_links:link, a.top_links:visited {
    text-decoration: none;
    color: azure;
}

a.top_links:hover, a.top_links:active {
    color: azure;
    text-decoration: none;
    background-color: rgba(97,166,234,0.93);
    border-radius: 1px;
    padding: 5px;

}

a.sign_in_top:link, a.sign_in_top:visited {
    position: absolute;
    right: 10px;
    color: azure;
    text-decoration: none;
}

a.sign_in_top:hover, a.sign_in_top:active {
    background-color: rgba(97, 166, 234, 0.93);
    color: azure;
    border-radius: 1px;
    padding: 5px;
    margin-top: -5.5px;
    position: absolute;
    right: 10px;
    text-decoration: none;
}

a.menu_link {
}

img.menu_img {

}