<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HR Database</title>
        <link rel="stylesheet" type="text/css" href="/css/aside_menu.css">
        <link rel="stylesheet" type="text/css" href="/css/top_menu.css">
        <link rel="icon" type="image/x-icon" href="/img/db_icon.png">
    </head>

    <body>
        <div th:replace="~{layouts/notSigndedIn/header :: header}">Header</div>
        <div th:replace="~{layouts/notSigndedIn/aside_menu :: aside}">Aside menu</div>


    <!--div class="loginDiv">
        <p>some text inside this</p>
        <div class="signInForm">
            <form action="/welcome" method="get">
                <div class="signInLoginLabel">
                    <label for="login"> Login:</label>
                </div><br>
                <div class="signInInputLogin">
                    <input type="text" id="login" name="login">
                </div><br>
                <div class="signInPasswordLabel">
                    <label for="password">Password:</label>
                </div><br>
                <div class="signInInputPassword">
                    <input type="password" id="password" name="password"><br>
                </div>
                <div class="submitForm">
                    <input type="submit" value="Sign in">
                </div-->
        </form>
    </div>
    </div>
    </body>
</html>