<!DOCTYPE html>
<html lang="ru" xmlns:th="thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/css" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <title>Info page</title>
    <link rel="stylesheet" href="/css/info.css"/>
    <link rel="stylesheet" href="/css/core.css"/>
<body>
<div class = top_header>
    <a href="/" methods="get">HR Database</a>
    <a href="/info" methods="get">About</a>
</div>

<p>some text</p>

</body>
</html>